.calculator {
  background: #929292;
  width: 300px;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 4px 8px 10px black;
}

.screen {
  height: 100px;
  background: #dcede7;
  margin: 10px;
  color: #424242;
  font-family: Orbitron, monospace;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  grid-gap: 15px;
  button {
    height: 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 4px 2px black;
    font-family: Orbitron, monospace;
    font-size: 20px;
    vertical-align: bottom;
    &:active {
      box-shadow: unset;
      outline: none;
      border: none;
      transform: translate(0, 2px);
    }
  }
}